<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page|Bank</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bank.css">
</head>

<body class="bodybg">
    <!--            First Line Navbar           -->
    <nav class="navbar navbar-expand-lg navbar-light bg">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/business">&nbsp&nbsp&nbsp&nbsp&nbsp&nbspBusiness<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutus">&nbsp&nbsp&nbsp&nbsp&nbsp&nbspAbout Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">&nbsp&nbsp&nbsp&nbsp&nbsp&nbspContact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div style="background: url('/images/business.png'); background-size: cover; width: 100%; height:450px; opacity: 1;"></div>
    <div style="background: url('/images/business2.png'); background-size: center; width: 100%; height:450px;">
    </div>
    <div style="width: 100%; height: 400px; background-color: #c7dcfc;">
        <img src="/images/business3.png" style="border-radius: 4px; margin-top: 60px; margin-left: 40px; float: left;">
        <div style="color: black; width: 500px; height:50%; float: right; margin-top: 170px; margin-right: 100px; letter-spacing: 1px;">Looking for the products that’ll work best for your business?<br> Then you are at the right place!</div>
    </div>


    <!--             Bottom part         -->
    <section class="bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm mt-2">
                    <section class="px-3 py-4" style="float: left;">
                        <img src="/images/phone.png" alt="">
                    </section>
                    <section class="p-3 bottomele">
                        <h2>Call Us</h2>
                        <p>In case you wish to speak to our phone banking officer for urgent resolution</p>
                        <a href="#" style="text-decoration: none;">
                            <h6 class="link pt-4">Click here</h6><img src="/images/right-arrow.png"
                                style="padding-top: 1.62rem;" class="pl-2" alt="">
                        </a>
                    </section>
                </div>
                <div class="col-sm mt-2">
                    <section class="px-3 py-4" style="float: left;">
                        <img src="/images/chat.png" alt="">
                    </section>
                    <section class="p-3 bottomele">
                        <h2>Write to Us</h2>
                        <p>Always feel free to write to us. We are always here to help you</p>
                        <a href="#" style="text-decoration: none;">
                            <h6 class="link pt-4">Click here</h6><img style="padding-top: 1.62rem;" class="pl-2"
                                src="/images/right-arrow.png" alt="">
                        </a>
                    </section>
                </div>
                <div class="col-sm mt-2">
                    <section class="px-3 py-4" style="float: left;">
                        <img src="/images/twitter.png" alt="">
                    </section>
                    <section class="p-3 bottomele">
                        <h2>Follow Us</h2>
                        <p>Follow us on twitter to get the latest updates on the interest plans and new schemes</p>
                        <a href="#" style="text-decoration: none;">
                            <h6 class="link pt-4">Click here</h6><img src="/images/right-arrow.png" class="pt-4 pl-2"
                                alt="">
                        </a>
                    </section>
                </div>
    
            </div>
        </div>
    </section>
    <div style="float: left; background-color: grey; color: black; width: 100%;">
        <div class="container mb-0">
            <p class="pt-1" style="float: left;">All Rights Reserved | ©️ Cosmos Private Bank Limited |&nbsp</p>
            <a href="/privacypolicy" style="text-decoration: none; float: left; color: black;" class="pt-1">Privacy
                Policy</a>
        </div>
    </div>









    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
    </body>
    
    </html>